*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x:hidden;
    font-family: 'Roboto';
    position: relative;
}
#bar{
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 100px;
}
.homeContainer{
    height: 100vh;
    position: relative;
}
.headerContainer nav ul{
    display: flex;
    float: right;
    padding: 40px 50px 0 0;
}
.headerContainer nav ul li:not(:last-child){
   margin-right: 60px;
}
.headerContainer nav ul li a{
    color: #000;
    font-size: 18px;
}
.headerContainer nav ul li a:active{
    border-bottom: 2px solid #000;
}
.homeCommend .content{
    display: flex;
    justify-content: center;
    padding-top: 40vh;
}
.typing{
    font-size: 72px;
}
.scroll{
    display: flex;
    padding-top: 38vh;
    justify-content: center;
}
.scroll a{
    width: 25px;
    height: 50px;
    border: 2px solid #707070;
    border-radius: 60px;
    position: relative;
}
.scroll a::before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
}
@keyframes wheel{
    0%{
        opacity: 0; top: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0; top: 75%;
    }
}
/* .scroll a{
    border: 1px solid #000;
    border-radius: 40px;
    width: 20px;
    height: 40px;
} */
.typing::after {
    content: '|';
    display: inline;
    animation: blink 0.4s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.wt-particle-item {
    z-index: -999;
    position: absolute;    
    border-radius: 50%;
    animation-name: dot;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.wt-particle-item.-v1{
    left: 550px;
    width: 36px;
    height: 36px;
    background-color: #7379FF;
    animation-duration: 7S;
}
.wt-particle-item.-v2{
    background-color:#FF9E9E ;
    width: 28px;
    height: 28px;
    animation-duration: 8S;
    left: 100px;
    animation-delay: 0.5s;
}
.wt-particle-item.-v3{
    background-color:#FFD9B5;
    left: 260px;
    width: 15px;
    height: 15px;
    animation-duration: 9S;
}
.wt-particle-item.-v4{
    background-color: #ADCEFF;
    width:18px;
    height: 18px;
    left: 400px;
    animation-duration: 6s;
    animation-name: move;
    animation-delay: 0.5s;
}
.wt-particle-item.-v5{
    background-color: #DCCBFF;
    width:14px;
    height: 14px;
    left: 20px;
    animation-duration: 6s;
    animation-name: circle;
}
.wt-particle-item.-v6{
    background-color:#FF9E9E ;
    width: 28px;
    height: 28px;
    animation-duration: 6S;
    right: 520px;
    animation-name:circle;
    animation-delay: 0.5s;
}
.wt-particle-item.-v7{
    right: 350px;
    width: 36px;
    height: 36px;
    background-color: #7379FF;
    animation-duration: 6S;
    animation-name: move;
}
.wt-particle-item.-v8{
    background-color:#FFD9B5;
    right:180px;
    width: 15px;
    height: 15px;
    animation-duration: 4S;
    animation-delay: 0.5s;
}
.wt-particle-item.-v9{
    background-color: #FEFFAD;
    width: 45px;
    height: 45px;
    right: 40px;
    animation-duration:8s;
}
@keyframes dot{
    0%{
        top: 100%;opacity: 0;
    }
    20%{
        top: 80%;opacity: 1;
    }
    40%{
        top: 60%;opacity: 1;
    }
    80%{
        top: 20%;opacity: 1;
    }
    100%{
        top: 0;opacity: 0;
    }
}
@keyframes move{
    0%{
        top: 100%;opacity: 0;
    }
    20%{
        top: 70%;opacity: 1;
    }
    40%{
        top: 50%;opacity: 1;
    }
    80%{
        top: 20%;opacity: 0;
    }
    100%{
        top: 0;opacity: 0;
    }
}
@keyframes circle{
    0%{
        top: 100%;opacity: 0;
    }
    20%{
        top: 80%;opacity: 0;
    }
    40%{
        top: 60%;opacity: 1;
    }
    80%{
        top: 20%;opacity: 1;
    }
    100%{
        top: 0;opacity: 0;
    }
}
.aboutmeContainer{
    background-color: #F2C8C8;
    height: 100vh;
}
.aboutmeCommend{
    margin: 0px 150px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.aboutmeContainer h2{
    font-size: 64px;
    font-weight: 500;
    padding: 100px 0;
    margin-left: 150px;
}
.smile{
    margin-top: 50px;
    margin-left: 50px;
}
.smile div{
    position:relative; width:250px;
}
.smile div img:first-child{
    animation: round 10s infinite linear;
    width:100%;
}
.smile div img:last-child{
    position: absolute; left: 50%; top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width:60%;
}
@keyframes round{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
.about-contents ul li p:first-child{
    font-size: 20px;
    font-weight:600;
}
.about-contents ul li p:not(:first-child){
    position: relative;
    margin: 20px 0;
    font-size: 16px;
    text-indent: 3px;
}
.about-contents ul li:last-child p:nth-of-type(2){
    margin-bottom: 10px;
}
.about-contents ul li:last-child p:last-of-type{
    margin: 0;
}
.skill-contents span{
    font-size: 20px;
    font-weight: 600;
}
.skillbar:first-of-type{
    padding-top: 20px;
}
.skillbar{
    margin-bottom: 20px;
    position: relative;
}
.skillbar > p{
   font-size: 15px;
   font-weight: 600;
}
.bg_progress {
    width: 450px;
    height: 20px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
    display: block;
}
.bg_progress p{
    position: absolute;
    bottom: 25px;
    right: 10px;
    font-size: 11px;
}
.top_progress{
    display: block;
    background-color: #FF5F5F;
    border-radius: 10px;
    position: absolute;
    height: 20px;
    box-sizing: border-box;
}
@keyframes bar{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes bar2{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}
@keyframes bar3{
    0%{
        width: 0;
    }
    100%{
        width: 30%;
    }
}
.top_progress.nine{
    width: 90%;
    animation: bar 2s linear;
}
.top_progress.eight{
    width: 85%;
    animation: bar2 2s linear;
}
.top_progress.three{
    width: 30%;
    animation: bar3 2s linear;
}
.webContainer{
    position: relative;
}
.swiper-container{
    overflow: hidden;
    position: relative;
}
.swiper-wrapper{
    height: 100vh;
    display: flex;
}
.slide{
    margin-top: 20vh;
    padding-left: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}
.swiper-slide img{
    width: 600px;
}
.next{
    position: absolute;
    top: 30%;
    right: 5%;
}
.prev{
    position: absolute;
    top: 30%;
    left: 5%;
}
.next a img,
.prev a img{
    height: 80px;
}
.webContainer{
    position: relative;
}
.webContainer h2,
.contactContainer h2{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 64px;
    font-weight: 500;
}
.swiperleft h3{
    font-size: 24px;
    margin-bottom: 40px;
}
.contents h4{
    font-size: 20px;
    margin-bottom: 30px;
}
.contents li{
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.contents li p{
    margin-left: 40px;
    font-size: 14px;
    font-weight: 500;
}
.contents li:nth-of-type(2) p{
    margin-left: 57px;
}
.contents li:nth-of-type(4) p{
    margin-left: 65px;
}
.button{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}
.modal-overlay {
    z-index:200;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    align-items: center;
    display: none;
    background-attachment: fixed; 
    background: rgba( 0, 0, 0, 0.5);
}
.modal-window {
    background: #fff;
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.35 );
    border-radius: 10px;
    width: 800px;
    height: 100%;
    overflow-y: auto;
    position: relative;
    top: 5px;
    padding:20px 10px;
}
.modal-header{
    position: fixed;
    width: 784px;
    top: 5px;
    background-color: #fff;
    display: flex;
    height: 40px;
    padding-bottom: 20px;
}
.modal-header .title {
    color: #000;
    font-size: 20px;
    padding-top: 20px;
}
.modal-header .close-area {
    padding-left: 570px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
.modal-window .content{
    padding-top: 40px;
}
.modal-window .content img{
    width: 100%;
}
.button-animation{
    border:1px solid #000;
    border-radius: 20px;
    color:#000;
    font-size: 14px;
    transition-duration: 0.7s;
    display: block;
    width: 160px;
    /* height: 25px; */
    padding: 13px 0;
    text-align: center;
}
.button-animation:hover{
    background-color: #000;
    color: #fff;
    box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
}
.contactContainer{
    margin: 0 auto;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-contants{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contactContainer .img img{
    width: 900px;
    z-index: -100;
    animation: round 5s infinite linear;
}
.contactContainer .img img:first-of-type{
    position: absolute;
    left: -280px;
    bottom: -300px;
}
.contactContainer .img img:last-of-type{
    position: absolute;
    right: -290px;
    top: -310px;
}
.ex{
    display: flex;
    justify-content: center;
}
.ex ul{
    display: flex;
    font-size: 18px;
    text-align: center;
    width: 700px;
    justify-content: space-between;
}
.ex ul li{
    width: 200px;
}
.ex ul li p{
    font-size: 14px;
    margin-top: 10px;
}
.finish{
    margin-bottom: 50px;
    text-align: center;
}
.finish p:first-of-type{
    font-size: 14px;
}
.finish p:last-of-type{
    font-size: 48px;
    margin-top: 20px;
}